*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }
    body {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    p{
      font-style: italic;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    .container1 {
      width:100%;
      height:100vh;
      background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://cdn.britannica.com/81/156681-159-C956D1CD/bottles-garbage-lake.jpg");
        background-position: center;
        background-size: cover;
        padding-left:8%;
        padding-right:8%;
        box-sizing: border-box;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media only screen and (max-device-width: 1366px) {
      .container1 {
        background-attachment: scroll;
      }
    }
    .navbar{
    height:12%;
    width:100%;
    display:flex;
    align-items:center;
    margin-left: 0%;
    transition: 1s;
    color:white;
    }
    .navbar:hover {
      background-color: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
      color: white;
    }
    nav{flex:1;
    text-align: right; 
      text-shadow: 0 0 5px #999;
    }
    .logo{
      margin-left: 10px;
  width: 32px;
  cursor: pointer;
    }
    .menu-icon{
        width: 30px;
        cursor: pointer;
          margin-left:40px;
        }
        nav ul li{
        list-style: none;
        display: inline-block; margin-left:60px;
        }
        nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 13px
        }
        .recipe1{
            color:#fff;
            display:inline-block;
            width:100%;
            text-align: center;
            align-items: center;
            margin-top: 50px;
            background-color: transparent;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-radius: 50px;
  width:90%;
  height:75%;
  align-items: center;
  margin-left: 45px;
        }
        .steps1{
            margin-top: 25px;
            font-size: 14px;
            text-align: center;
        }
        .head1{
            margin-top: 50px;
            font-size: 50px;
            text-align: center;
        }
        button{
            width: 180px;
            color: #000;
            font-size: 12px;
            padding: 12px 0;
            background: #fff;
            border: 0;
            border-radius: 20px;
            outline: none;
              margin-top:30px;
            }
            
            .recipe2{
                color:#fff;
                display:inline-block;
                width:100%;
                text-align: center;
                align-items: center;
                margin-top: 50px;
                background-color: transparent;
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(50px);
      border-radius: 50px;
      width:90%;
      height:75%;
      align-items: center;
      margin-left: 45px;
            }
            .steps2{
                margin-top: 25px;
                font-size: 14px;
                text-align: center;
            }
            .head2{
                margin-top: 50px;
                font-size: 50px;}
                
                .container2 {
                    width:100%;
                    height:100vh;
                    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://cdn.hswstatic.com/gif/Irrigation.jpg");
                      background-position: center;
                      background-size: cover;
                      padding-left:8%;
                      padding-right:8%;
                      box-sizing: border-box;
                      background-attachment: fixed;
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;
                  }
                  @media only screen and (max-device-width: 1366px) {
                    .container2 {
                      background-attachment: scroll;
                    }
                  }
                  .recipe3{
                    color:#fff;
                    display:inline-block;
                    width:100%;
                    text-align: center;
                    align-items: center;
                    margin-top: 50px;
                    background-color: transparent;
          -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
          border-radius: 50px;
          width:90%;
          height:75%;
          align-items: center;
          margin-left: 45px;
                }
                .steps3{
                    margin-top: 25px;
                    font-size: 14px;
                    text-align: center;
                }
                .head3{
                    margin-top: 50px;
                    font-size: 50px;}
                    
                    .container3 {
                        width:100%;
                        height:100vh;
                        background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://bestbalticproject.eu/wp-content/uploads/2018/08/iStock-172898918_medium.jpg");
                          background-position: center;
                          background-size: cover;
                          padding-left:8%;
                          padding-right:8%;
                          box-sizing: border-box;
                          background-attachment: fixed;
                          background-position: center;
                          background-repeat: no-repeat;
                          background-size: cover;
                      }
                      @media only screen and (max-device-width: 1366px) {
                        .container3 {
                          background-attachment: scroll;
                        }
                      }
                      .recipe4{
                        color:#fff;
                        display:inline-block;
                        width:100%;
                        text-align: center;
                        align-items: center;
                        margin-top: 50px;
                        background-color: transparent;
              -webkit-backdrop-filter: blur(50px);
              backdrop-filter: blur(50px);
              border-radius: 50px;
              width:90%;
              height:75%;
              align-items: center;
              margin-left: 45px;
                    }
                    .steps4{
                        margin-top: 25px;
                        font-size: 14px;
                        text-align: center;
                    }
                    .head4{
                        margin-top: 50px;
                        font-size: 50px;}
                        
                        .container4 {
                            width:100%;
                            height:100vh;
                            background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://cdn.pixabay.com/photo/2020/05/28/17/47/impala-5232026_1280.jpg");
                              background-position: center;
                              background-size: cover;
                              padding-left:8%;
                              padding-right:8%;
                              box-sizing: border-box;
                              background-attachment: fixed;
                              background-position: center;
                              background-repeat: no-repeat;
                              background-size: cover;
                          }
                          @media only screen and (max-device-width: 1366px) {
                            .container3 {
                              background-attachment: scroll;
                            }
                          }
            
