*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  }
  .container {
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://img.freepik.com/free-photo/top-view-baked-chicken-veggies-plate-with-wedges-copy-space_23-2148682743.jpg");
      background-position: center;
      background-size: cover;
      padding-left:8%;
      padding-right:8%;
      box-sizing: border-box;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  @media only screen and (max-device-width: 1366px) {
    .container {
      background-attachment: scroll;
    }
  }
  .navbar{
  height:12%;
  width:100%;
  display:flex;
  align-items:center;
  margin-left: 0%;
  transition: 1s;
  }
  .navbar:hover {
    background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
    color: white;
  }
  nav{flex:1;
  text-align: right; 
    text-shadow: 0 0 5px #999;
  }
  .logo{
    margin-left: 40px;
  width: 75px;
  cursor: pointer;
  }
  .menu-icon{
  width: 30px;
  cursor: pointer;
    margin-left:40px;
  }
  nav ul li{
  list-style: none;
  display: inline-block; margin-left:60px;
  }
  nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px
  }
  .row{
    width:1500px;
    display: inline-flex;
  height: 70%;
  align-items: center;
  text-decoration: none;
  }
  .col{
    display: flex;
    flex-basis: 50%;
    height: 100%;
    padding-left: 30px;
  }
  h1{color: #fff;
    font-size: 100px;}
  p{color: #fff;
    font-size: 11px; line-height: 15px;text-shadow: 0 0 5px #999;}
  h5{color: #fff;color: #fff;
text-shadow: 0 0 5px #999;}
  button{
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
    margin-top:30px;
  }
  .card{
  width: 300px;
  height: 250px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
    transition: transform 0.5s}
  .card1{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://media.istockphoto.com/id/1321195603/photo/people-having-balanced-diet-from-lunch-boxes.jpg?s=612x612&w=0&k=20&c=yieHclin0zByT8mXbK1x7dlf_4bG6yqeBRszUjyYBbc=");
  }
  .card2{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://img.freepik.com/free-photo/delicious-italian-pizza-wooden-table_23-2148643436.jpg") ;
  }
  .card3{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://storage.googleapis.com/pai-images/8780c48126284ec3aebb2bdd4da2757c.jpeg") ;
  }
  .card4{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://www.businessinsider.in/photo/67552032/indians-love-food-so-much-that-most-of-them-just-wont-go-on-a-diet-survey.jpg?imgsize=166212") ;
  }
  .card:hover{
    transform: translateY(-10px);}
  h1{
    font-size: 50px;
    width:235px;
    cursor: pointer;
  }
  .cust1{
    width: 600px;
    height: 400px;
    display: inline-block;
    margin-left: 300px;
    text-align: center;
    font-size: 100px;
    color: white;
    border-style: dashed;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://img.freepik.com/free-photo/top-view-delicious-pizza-wooden-table_23-2148643420.jpg");
  }
  .h6{
    color:white;
    font-size: 100px;
  }

  .yash{
    color:white;
    font-size: 15px;
  }
  .text {
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://plus.unsplash.com/premium_photo-1671403963864-6d46f3b62352?blend=000000&blend-alpha=10&blend-mode=normal&blend-w=1&crop=faces%2Cedges&h=630&mark=https%3A%2F%2Fimages.unsplash.com%2Fopengraph%2Flogo.png&mark-align=top%2Cleft&mark-pad=50&mark-w=64&w=1200&auto=format&fit=crop&q=60&ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzEwODQ2MTkwfA&ixlib=rb-4.0.3");
      background-position: center;
      background-size: cover;
      padding-left:8%;
      padding-right:8%;
      box-sizing: border-box;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media only screen and (max-device-width: 1366px) {
      .text {
        background-attachment: scroll;
      }
    }
    .second{
      width:auto;
      display: inline-block;
      color: white;
    height: 40%;
    align-items:center;
    text-decoration: none;
    margin-top: 200px;
    text-align: center;
    background-color: transparent;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  text-shadow: #000;
  border-radius: 30px;
    }
    .head2{
      color: white;
      font-size: 75px;
      margin-top: 40px;
    }
    .para4{
      color: white;
      font-size: 12px;
    }
    footer{
      height: 50px;
      width: 100%;
      display: inline-block;
      background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://barstoolsdirect.net/wp-content/uploads/2020/03/Footer-Background.jpg") ;
      text-align: center;
      padding-top: 40px;
      }
    .statement{
      color: white;
      font-size: 100px;
      display: inline-block;
      text-align: center;
      margin-left: 170px;
      margin-top: 100px;
    }
last{
  display: inline-block;
  width:100%;
  align-items: center;
}
